.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #77c850;
}
.fire {
    background-color: #ee7f30;
}
.water {
    background-color: #678fee;
}
.electric {
    background-color: #f7cf3e;
}
.ice {
    background-color: #98d5d7;
}
.ground {
    background-color: #dfbf69;
}
.flying {
    background-color: #a98ff0;
}
.poison {
    background-color: #a040a0;
}
.fighting {
    background-color: #bf3020;
}
.psychic {
    background-color: #f65587;
}
.dark {
    background-color: #725847;
}
.rock {
    background-color: #b8a137;
}
.bug {
    background-color: #a8b720;
}
.ghost {
    background-color: #6e5896;
}
.stell {
    background-color: #b9b7df;
}
.dragon {
    background-color: #6f38f6;
}
.fairy {
    background-color: #f9aec7;
}





.pokemon {
    display: flex;
    flex-direction: column;
    margin: .7rem;
    padding: .8rem .5rem;
    color: #fff;
    border-radius: 1rem;
    text-transform: capitalize;
}

.pokemon .number{
    color: black;
    opacity: .3;
    text-align: right;

}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    
}

.pokemon .detail .types{
    padding: 0rem;
    margin: 0rem;
    list-style: none; 

}

.pokemon .detail .types .type {
    color: #fff;
    padding: .4rem 1rem;
    margin: .250rem;
    font-size: .800rem;
    border-radius: .5rem;
    filter: brightness(1.1);
    text-align: center;
}

.detail img {
    border-style: none;
    height: 70px;
    max-width: 50%;
    align-self: flex-end;
    margin: 1rem;

}


.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    display: flex;
    padding: .4rem 1rem;
    color: white;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

.pop-upButton {
    display: contents;
    flex-direction: column;
    margin: 0rem;
    padding: 0rem;
    color: #fff;
    border-radius: 1rem;
    text-transform: capitalize;
    text-decoration: none;
}

.linkPop-up {
    display: flex;
    flex-direction: column;
    margin: .2rem;
    padding: 0rem;
    color: #fff;
    border-radius: 1rem;
    text-transform: capitalize;
    text-decoration: none;
}

@media screen and (min-width: 395px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;

    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;

    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
}

#popupMenu, .h1{
    text-align: center;
    display: none;
}

#GeracaoButton{
    text-align: center;
    display: flex;
    margin: .2rem;
    padding: .8rem .5rem;
    background-color: #77c850;
    color: #ffffff;
    border-radius: 1rem;
    text-transform: capitalize;
}
#GeracaoButton2{
    display: flex;
    margin: .2rem;
    padding: .8rem .5rem;
    background-color: #77c850;
    color: #ffffff;
    border-radius: 1rem;
    text-transform: capitalize;
}
#GeracaoButton3{
    display: flex;
    margin: .2rem;
    padding: .8rem .5rem;
    background-color: #77c850;
    color: #ffffff;
    border-radius: 1rem;
    text-transform: capitalize;
}
#GeracaoButton4{
    display: flex;
    margin: .2rem;
    padding: .8rem .5rem;
    background-color: #77c850;
    color: #ffffff;
    border-radius: 1rem;
    text-transform: capitalize;
}
#GeracaoButton5{
    display: fle;
    margin: .2rem;
    padding: .8rem .5rem;
    background-color: #77c850;
    color: #ffffff;
    border-radius: 1rem;
    text-transform: capitalize;
}

#GeracaoButton6{
    display: table-column;
    margin: .2rem;
    padding: .8rem .5rem;
    background-color: #77c850;
    color: #ffffff;
    border-radius: 1rem;
    text-transform: capitalize;
}
#GeracaoButton7{
    display: table-column;
    margin: .2rem;
    padding: .8rem .5rem;
    background-color: #77c850;
    color: #ffffff;
    border-radius: 1rem;
    text-transform: capitalize;
}
#GeracaoButton8{
    display: table-column;
    margin: .2rem;
    padding: .8rem .5rem;
    background-color: #77c850;
    color: #ffffff;
    border-radius: 1rem;
    text-transform: capitalize;
}
#GeracaoButton9{
    display: table-column;
    margin: .2rem;
    padding: .8rem .5rem;
    background-color: #77c850;
    color: #ffffff;
    border-radius: 1rem;
    text-transform: capitalize;
}

/* Icone de menu no canto superior esquerdo */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

/* Estilo do popup */
.popup-menu {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: transparent;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 999;
    padding: 10px;
    border-radius: 5px;
    width: 200px; /* Limita a largura do pop-up */
}

/* Layout em grid para os botões */
.filtragem {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    grid-auto-rows: minmax(50px, auto); /* altura mínima de 50px */
    gap: 10px; /* espaçamento entre os botões */
}

/* Estilo dos botões */
.filtragem button {
    background-color: #87CEEB;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.filtragem button:hover {
    background-color: #add8e6;
}

